.card-text a{
  text-decoration: none !important;
  color: rgb(52, 47, 47);
}
 .card-text a:hover{
 text-decoration: none !important;
 color: #1568a8;
 }

.navbar{
  background-color: rgb(169, 55, 55) !important;
  border: 2px solid black;
}

.google-link{
  color:brown;
}
.google-link:hover{
color: #1568a8;
text-decoration: none;
}

/* #color1{
  
  flex-direction: row ;
  flex-wrap: wrap ;
} */